*{
    margin: 0px;
    padding: 0px;
}
.header-top{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image: url(//wwfasia.awsassets.panda.org/img/original/large_ww240585.jpg);
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
.menu{ 
    width: 100%;
    position: fixed;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    height: 43px;
    background: #c51b1b;
}

.menu ul { 
    display: flex;
}

.menu ul li a { 
    line-height:40px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu ul li { 
    padding: 0px 30px;
    transition: all 0.3
}

.menu ul li:hover{
    background-color: #841010;
    border-bottom: 2px solid white;
    transition: all 0.3;
}

.menu ul li:hover a {
    color:rgb(210, 224, 52);
}
.product-content-1{
    display: grid;
    grid-template-columns: 400px 1fr 400px;
}

.product-content-4{
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
}
.content-item-1{
    display: grid;
    grid-template-columns: 450px 1fr 450px;
}
.content-item-2{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}
.cv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cv h1{
    text-align: center;
    padding-top: 500px;
}
.cv-img:hover{
    transition: transform .5s;
    transform: scale(1.02);
}
.content-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-top{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}
.footer-baner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
